spring:
  profiles:
    active: dev
    include: swagger
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: false
  jackson:
    serialization.indent_output: true
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://127.0.0.1:3306/resavision?useUnicode=true&characterEncoding=utf8&useSSL=false
    username: resavision
    password: resavision
    hikari:
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    database: MYSQL
    show-sql: true
    properties:
      hibernate.id.new_generator_mappings: true
      hibernate.cache.use_second_level_cache: true
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: true
      hibernate.cache.region.factory_class: io.github.jhipster.config.jcache.NoDefaultJCacheRegionFactory
  data:
    elasticsearch:
      cluster-name: null
      cluster-nodes: null
      properties:
        path:
          logs: target/elasticsearch/log
          data: target/elasticsearch/data
  mail:
    host: localhostmail
    port: 25
    username: null
    password: null
  messages:
    cache-seconds: 1
  thymeleaf:
    cache: false
liquibase:
  contexts: dev
server:
  port: 8080
jhipster:
  http:
    version: V_1_1
  cache:
    ehcache:
      time-to-live-seconds: 3600
      max-entries: 100
  cors:
    allowed-origins: '*'
    allowed-methods: '*'
    allowed-headers: '*'
    exposed-headers: Authorization
    allow-credentials: true
    max-age: 1800
  security:
    authentication:
      jwt:
        secret: my-secret-token-to-change-in-production
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000
  mail:
    from: resavision@localhostmail
    base-url: http://127.0.0.1:8080
  metrics:
    jmx.enabled: true
    graphite:
      enabled: false
      host: localhost
      port: 2003
      prefix: resavision
    prometheus:
      enabled: false
      endpoint: /prometheusMetrics
    logs:
      enabled: false
      report-frequency: 60
  logging:
    logstash:
      enabled: false
      host: localhost
      port: 5000
      queue-size: 512
application: null